# Python cache
__pycache__/
*.py[cod]
*.pyo

# Env
.env
.venv/
venv/

# pytest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.dbnode_modules/
frontend/node_modules/

# Scraper Data
data/
*.csv